<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'model/css/../../../static/css/bootstrap.min.css' %}" >
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="list-group">
        <!--这里使用的是上下文渲染器返回的数据-->
        {% for id,name,score in data %}
            <div style="width: 1140px;">
                <a href="{% url 'model:show' %}?name={{ name }}&score={{ score }}" class="list-group-item" style="width: 1000px;float: left">
                    <span class="badge">{{ score }}</span>
                    {{ name }}
                </a>
                <a id="{{ id }}" class="btn btn-success" style="float: right;">删除</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <h2 align="center">IP:{{ ip }}---DUBUG:{{ settings.DEBUG }}</h2>
        {% block user %}{% endblock %}
    </div>
</div>
</body>
<script>
    $(function () {
        $(".btn").click(function () {
            var id = $(this).attr("id");
            $.ajax({
                url:"{% url 'model:show' %}",
                type: "POST",
                dataType: "json",
                //"csrfmiddlewaretoken" 是给Ajax添加csrf验证
                data: {"id": id,"csrfmiddlewaretoken":"{{ csrf_token }}"},
                success:function () {
                    location.href='{% url 'model:work' %}'
                },error:function () {
                    alert("异常")
                }
            })
        })
    })
</script>
</html>

