{% extends 'nick/base.html' %}
<!--博客内容页面-->
{% load static comments %}
{% block head %}
    <link rel="stylesheet" href="{% static 'nick/css/code.css' %}">
{% endblock %}

<!--标题，分类-->
{% block header_title %}{{ title }}{% endblock %}

{% block data %}
    <p class="header-date">
        <span class="post-time">
            <span class="glyphicon glyphicon-calendar"></span> 日期:{{ data.create_time }}
        </span>
        <span class="post-category">
            <span class="glyphicon glyphicon-folder-open"></span> 分类:
            <a href="{% url 'nick:blog_class_details' categoty %}">{{ categoty }}</a>
        </span>
    </p>
{% endblock %}

<!--标签-->
{% block header_subtitle %}
    {% for t in tags %}
        <span class="glyphicon glyphicon-tags"></span><a href="{% url 'nick:blog_tag' t.name %}"> {{ t.name }}</a>
        {% empty %}
        没有标签
    {% endfor %}
{% endblock %}

<!--博客内容-->
{% block content %}
    {{ content|safe }}
{% endblock %}

{% block page %}
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
            <h3>评论列表</h3>
        </div>
        <div class="panel-body">
        {#   blog就是你评论的对象，评论和该对象绑定(id绑定)，这里对象是博客，当展示博客时会显示该博客下对应的评论数据   #}
            {% get_comment_list for data as comments %}
            {% for comment in comments %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="glyphicon glyphicon-calendar"></span> {{ comment.submit_date|date:"Y-m-d H:i"}}
                            <span class="glyphicon glyphicon-user"></span> {{ comment.user_name }}
                        </h4>
                        <p class="comment_content">{{ comment.comment }}</p>
                    </div>
                </div>
            {% empty %}
                <span>暂无评论</span>
            {% endfor %}
        </div>
    </div>

{#    <div class="panel panel-default" style="margin-top: 20px">#}
{#        <div class="panel-heading"><h4>新的评论</h4></div>#}
{#        {% get_comment_form for data as blog_form %}#}
{#        <div class="panel-body">#}
{#            <form id="comment_form" class="form-horizontal" action="{% comment_form_target %}" method="post">#}
{#                {% csrf_token %}#}
                {# 必须的字段 #}
{#                {{ blog_form.object_pk }}#}
{#                {{ blog_form.content_type }}#}
{#                {{ blog_form.timestamp }}#}
{#                {{ blog_form.site }}#}
{#                {{ blog_form.submit_date }}#}
{#                {{ blog_form.security_hash }}#}
                {# 用户名字段，这个后面会修改为登录用户评论，无需填这个 #}
{#                <div class="input-group input-group-lg">#}
{#                    <span class="input-group-addon" id="sizing-addon1">名称： </span>#}
{#                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">#}
{#                </div>#}
{##}
                {# 邮箱地址字段 #}
{#                <div class="input-group input-group-lg">#}
{#                    <span class="input-group-addon" id="sizing-addon1">邮箱： </span>#}
{#                    <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">#}
{#                </div>#}
{##}
                {# 评论内容 #}
{#                <a name="newcomment" id="newcomment"></a>#}
{#                <div class="control-group">#}
{#                    <label class="control-label" for="id_comment">评论： </label>#}
{#                    <div class="controls">#}
{#                        <textarea class="form-control" rows="3"></textarea>#}
{#                    </div>#}
{#                </div>#}
{##}
                {# 防垃圾评论 #}
{#                <p style="display:none;">#}
{#                    <label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>#}
{#                    <input type="text" name="honeypot" id="id_honeypot">#}
{#                </p>#}
{##}
                {# 表单按钮 #}
{#                <div class="input-group input-group-lg">#}
{#                    <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>#}
{#                    <input type="hidden" name="next" value="#"/>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

<!--JavaScript-->
{% block js %}
    $(function(){
        //给标签添加bootstrap类，使其靠右
        $(".header-subtitle").addClass("pull-right")
    })
{% endblock %}