{% extends 'nick/base.html' %}
<!--博客内容页面-->
{% load static comments %}
{% block head %}
    <link rel="stylesheet" href="{% static 'nick/css/code.css' %}">
{% endblock %}

<!--标题，分类-->
{% block header_title %}{{ title }}{% endblock %}

{% block data %}
    <p class="header-date">
        <span class="post-time">
            <span class="glyphicon glyphicon-calendar"></span> 日期:{{ data.create_time }}
        </span>
        <span class="post-category">
            <span class="glyphicon glyphicon-folder-open"></span> 分类:
            <a href="{% url 'nick:blog_class_details' categoty %}">{{ categoty }}</a>
        </span>
    </p>
{% endblock %}

<!--标签-->
{% block header_subtitle %}
    {% for t in tags %}
        <span class="glyphicon glyphicon-tags"></span><a href="{% url 'nick:blog_tag' t.name %}"> {{ t.name }}</a>
        {% empty %}
        没有标签
    {% endfor %}
{% endblock %}

<!--博客内容-->
{% block content %}
    {{ content|safe }}
{% endblock %}

{% block page %}
<div class="container">
    <div class="row col-md-12">
        <!--comments对应的文章下的评论，comment对应评论文章的用户对象-->
        {% for comment in comments %}
            <div class="media" style="border-bottom: dashed 1px #7f8c8d; padding-top: 10px">
                <div class="media-body">
                    <h4 class="media-heading">{{ comment.author.username }}</h4>
                    <p>关联的博客id:{{ comment.entry_id }}, 当前评论id:{{ comment.id }}</p>
                    <div>{{ comment.content }}</div>
                </div>
            </div>
        {% endfor %}
    <hr/>
    </div>
    <div class="row col-md-12">
        <h2>回复评论:</h2>
        {% for comment in replys %}
            {% for foo in comment %}
                <div class="media" style="border-bottom: dashed 1px #7f8c8d; padding-top: 10px">
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ foo.author_form.username }} 回复了: {{ foo.author_to.username }}
                        </h4>
                        <p>关联的评论id：{{ foo.comment_id }}，在文章: {{ foo.comment.entry.title }}</p>
                        <div>{{ foo.content }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

<!--JavaScript-->
{% block js %}
    $(function(){
        //给标签添加bootstrap类，使其靠右
        $(".header-subtitle").addClass("pull-right")
    })
{% endblock %}