<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>模型的增删改查</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" >
</head>
<body>
<div class="container" style="padding-top: 20px">
    <p>查找所有数据的sql:{{ sql }}</p>
    <h2 align="center">数据查询结果: {{ number.count }} 条</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>sex</th>
                <th>phone</th>
            </tr>
        </thead>
        {% for i in stu_info %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.sex }}</td>
                <td>{{ i.tel }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>C</th>
                <th>Django</th>
                <th>python</th>
            </tr>
        </thead>
        {% for i in score %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ student }}</td>
                <td>{{ i.C }}</td>
                <td>{{ i.Django }}</td>
                <td>{{ i.python }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>查询名字为 <strong>小红</strong> 的数据:{{ one }}</p>
    <p>名字中包含 <strong>小</strong> 的数据:{{ two }}</p>
    <p>python成绩降序 :{{ result }}</p><hr/>
    <h2>查询python平均成绩大于60的同学的id和平均成绩</h2>
    {% for i in result1 %}
        <p>id:{{ i.id }}, name:{{ i.name }}, python_avg:{{ i.python }}</p>
    {% endfor %}
    <h2>查询所有同学的python成绩并且按照分数从高到低的顺序排列</h2>
    <p>{{ result }}</p>
    <h2>查询所有同学的id 姓名 科目数量(python) 总成绩</h2>
    {% for i in result2 %}
        <p>id:{{ i.id }}, name:{{ i.name }}, python:{{ i.cot }},sum:{{ i.sum }}</p>
    {% endfor %}

</div>
</body>
</html>
